# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [2]:
import pandas as pd

### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:

* Students_info_i - информация о студентах из группы i
* Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas  это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

In [3]:
path = '/content/drive/MyDrive/University/Minor/iad-intro-ds/2022/homeworks'

### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [11]:
df = []
for i in range(10):
  info = pd.read_csv(f"{path}/Data/Students_info_{i}.csv", index_col='index')
  marks = pd.read_csv(f"{path}/Data/Students_marks_{i}.csv", index_col='index')
  df.append(pd.concat([info, marks], axis=1))

In [12]:
df = pd.concat(df)

In [13]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
index,,,,,,,,,
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95
996,male,group C,high school,free/reduced,none,group10,62,55,55
997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,female,group D,some college,standard,completed,group10,68,78,77
999,female,group D,some college,free/reduced,none,group10,77,86,86

In [14]:
df.loc[2]

gender                                  female
race/ethnicity                         group B
parental level of education    master's degree
lunch                                 standard
test preparation course                   none
group                                   group1
math score                                  90
reading score                               95
writing score                               93
Name: 2, dtype: object

### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

Ну у меня вообще столбец индекс стал индексом, поэтому такой колонки в моей dataframe нет. Удалю просто название индексов

In [15]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
index,,,,,,,,,
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75

In [16]:
df = df.reset_index(drop=True)
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95
996,male,group C,high school,free/reduced,none,group10,62,55,55
997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,female,group D,some college,standard,completed,group10,68,78,77
999,female,group D,some college,free/reduced,none,group10,77,86,86

### Задание 3. Выведите на экран размеры полученной таблицы

In [17]:
df.shape

(1000, 9)

Более подробную информацию даст .info()

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   group                        1000 non-null   object
 6   math score                   1000 non-null   int64
 7   reading score                1000 non-null   int64
 8   writing score                1000 non-null   int64
dtypes: int64(3), object(6)
memory usage: 70.4+ KB

### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [19]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [20]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
math score                     0
reading score                  0
writing score                  0
dtype: int64

Как оказалось, пропущенных значений нет, но это можно было увидеть и с помощью .info()

### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [21]:
df[['math score', 'reading score', 'writing score']].mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

### Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.

In [22]:
df.groupby(by=['test preparation course']).mean()

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

Можно сделать вывод, что у людей, проходивших курс для подготовки, средний балл выше.

### Задание 8. Выведите на экран все различные значения из столбца lunch.

In [23]:
df['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

### Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [24]:
df.rename(columns={'parental level of education': 'education', 'test preparation course': 'test preparation'}, inplace=True)

In [25]:
df

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95
996,male,group C,high school,free/reduced,none,group10,62,55,55
997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,female,group D,some college,standard,completed,group10,68,78,77
999,female,group D,some college,free/reduced,none,group10,77,86,86

Зафиксируем минимальный балл для сдачи экзамена

In [26]:
passmark = 50

### Задание 10. Ответьте на вопросы:
* Какая доля студентов сдала экзамен по математике (passmark >= 50)?
* Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
* Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [27]:
# Какая доля студентов сдала экзамен по математике?
len(df[df['math score'] >= passmark]) / len(df)

0.865

In [28]:
# Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?'
condition = df['test preparation']  == 'completed'
len(df[condition & (df['math score'] >= passmark)]) / len(df[condition])

0.9217877094972067

In [29]:
# Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?
condition = (df['gender'] == 'female') & (df['test preparation'] == 'none')
len(df[condition & (df['math score'] < passmark)]) / len(df[condition])

0.20958083832335328

### Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.

* Для каждой этнической группы выведите средний балл за экзамен по чтению
* Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [30]:
%%time
# для каждой этнической группы выведите средний балл за экзамен по чтению
df.groupby(by=['race/ethnicity']).mean()['reading score']

Wall time: 7.98 ms

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

In [31]:
%%time
# для каждого уровня образования выведите минимальный балл за экзамен по письму
df.groupby(by=['education']).min()['writing score']

Wall time: 24 ms

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

### Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.

In [32]:
%%time
# для каждой этнической группы выведите средний балл за экзамен по чтению

mean_race = {race : [0, 0] for race in df['race/ethnicity'].unique()}
for i in range(len(df)):
  mean_race[df.loc[i]['race/ethnicity']][0] += 1
  mean_race[df.loc[i]['race/ethnicity']][1] += df.loc[i]['reading score']

print(dict(map(lambda x: (x[0], x[1][1] / x[1][0]), mean_race.items())))

{'group B': 67.35263157894737, 'group C': 69.10344827586206, 'group A': 64.67415730337079, 'group D': 70.03053435114504, 'group E': 73.02857142857142}
Wall time: 947 ms

С использованием groupby - 6.9ms

С использованием циклов - 480ms

В почти 70 раз быстрее!

In [33]:
%%time
# для каждого уровня образования выведите минимальный балл за экзамен по письму

min_educ = {educ: 101 for educ in df['education'].unique()}
for i in range(len(df)):
  educ_st = df.loc[i]['education']
  score_st = df.loc[i]['writing score']
  
  if min_educ[educ_st] > score_st:
    min_educ[educ_st] = score_st

print(min_educ)

{"bachelor's degree": 38, 'some college': 19, "master's degree": 46, "associate's degree": 35, 'high school': 15, 'some high school': 10}
Wall time: 537 ms

С использованием groupby - 24.3ms

С использованием циклов - 292ms

В почти 12 раз быстрее!

### Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.

In [34]:
df.groupby(by=['gender', 'education']).mean()

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [35]:
import numpy as np

df['Math_PassStatus'] = np.where(df['math score'] >= passmark, 'P', 'F')

In [36]:
len(df[df['Math_PassStatus'] == 'P'])

865

In [37]:
df['Writing_PassStatus'] = np.where(df['writing score'] >= passmark, 'P', 'F')
df['Reading_PassStatus'] = np.where(df['reading score'] >= passmark, 'P', 'F')

### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [38]:
passStatus = (df['Math_PassStatus'] == 'P') & (df['Writing_PassStatus'] == 'P') & (df['Reading_PassStatus'] == 'P')
df['OverAll_PassStatus'] = np.where(passStatus, 'P', 'F')
len(df[df['OverAll_PassStatus'] == 'P'])

812

In [39]:
check_status = len(df[(df['math score'] >= passmark) & (df['writing score'] >= passmark) & (df['reading score'] >= passmark)])
len(df[df['OverAll_PassStatus'] == 'P']) == check_status

True

### Задание 16. Переведем баллы в оценки

**Система перевода баллов в оценки**

больше 90 = A

80-90 = B

70-80 = C

60-70 = D

50-60 = E

меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

Проверю максимальную оценку для каждого предмета

In [40]:
df.max()

gender                            male
race/ethnicity                 group E
education             some high school
lunch                         standard
test preparation                  none
group                           group9
math score                         100
reading score                      100
writing score                      100
Math_PassStatus                      P
Writing_PassStatus                   P
Reading_PassStatus                   P
OverAll_PassStatus                   P
dtype: object

In [41]:
def convert_grade(score):
  for sc, grade in zip(range(50, 110, 10), 'FEDCBA'):
    if score <= sc:
      return grade

Получу серию средних оценок для каждого студента

In [42]:
def mean_score(student):
  return student.mean()

mean_scores = df[['math score', 'reading score', 'writing score']].apply(mean_score, axis=1)

Теперь применю на эту серию функцию

In [43]:
df['Grade'] = mean_scores.apply(convert_grade)

In [44]:
df['Grade']

0      C
1      B
2      A
3      F
4      C
      ..
995    A
996    E
997    D
998    C
999    B
Name: Grade, Length: 1000, dtype: object

In [48]:
df['Grade'].value_counts()

D    260
C    253
E    184
B    144
F    109
A     50
Name: Grade, dtype: int64